<!DOCTYPE html>
<html>
<head>
  <title>Wello</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Astloch|UnifrakturMaguntia' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li>
          <span class="title pop"><a href="<%= root_url %>">Wello</a></span>
        </li>
      </ul>
    </div>
  </nav>
  <%= yield %>

<div class="overlay hidden">
</div>

</body>
</html>
